.checkbox {
  @apply relative inline-block w-[18px] h-[18px] cursor-pointer;
  user-select: none;

  &__input {
    @apply absolute opacity-0 w-full h-full;
  }

  &__box {
    @apply absolute top-0 left-0 w-full h-full transition-shadow border-2 border-customBlack rounded-[2px] flex items-center justify-center;
    user-select: none;

    &::before {
      content: "";
      @apply absolute top-1/2 left-1/2 w-0 h-0 bg-customLightGreen opacity-50 rounded-full transform -translate-x-1/2 -translate-y-1/2 transition-all duration-75 ease-out;
    }

    &--checked {
      @apply bg-customGreen border-customGreen;
    }
  }

  &:hover &__box::before {
    @apply w-[37px] h-[37px];
  }

  &__tick {
    @apply hidden w-4 h-4;

    &--visible {
      @apply block;
    }
  }
}
